.recipe-details {
  height: 100vh;
  margin-bottom: 60px;
}

.container-carousel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.start-recipe {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.product-details {
  margin-top: 50px;
}
