.footer {
  background-color: red;
  bottom: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.footer button {
  background: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
