@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marked {
  @apply line-through decoration-1 decoration-black;
}

.unmarked {
  @apply no-underline;
}

.finishBtn {
  @apply w-80 h-[40px] bg-yellow-500 text-white uppercase rounded-[0.475em];
}